To use this pipeline, you need to follow these steps:

- 1. Create data folder
- 2. Place your .sqlite files in the data folder - just throw the whole directory in there and the script will handle the rest.
- 3. Run the Create_schema.py script to extract the SQL file paths.
- 4. Use the extracted paths with the SQLiteConnector class to interact with your databases.
- 5. Follow the usage examples provided in the Demo_notebook.ipynb file.

Future plans:

- Extract database schema information
- Implement support for other SQL databases (e.g., MySQL, PostgreSQL)
- Optimize the SQL query execution process by generating a compact version of schema information for AI agents.
- Build AI agent capabilities to scan for any error or create vector embeddings of more detail schema information.

=> The connector class can support all query actions for SQLite databases.

In [7]:
from Create_Schema import extract_sql_file_paths
import json
# Remember to put the data into data folder
sql_file_paths = extract_sql_file_paths(save_json=True)
print(sql_file_paths)

{
    "academic": "data/academic/academic.sqlite",
    "activity_1": "data/activity_1/activity_1.sqlite",
    "aircraft": "data/aircraft/aircraft.sqlite",
    "allergy_1": "data/allergy_1/allergy_1.sqlite",
    "apartment_rentals": "data/apartment_rentals/apartment_rentals.sqlite",
    "architecture": "data/architecture/architecture.sqlite",
    "assets_maintenance": "data/assets_maintenance/assets_maintenance.sqlite",
    "baseball_1": "data/baseball_1/baseball_1.sqlite",
    "battle_death": "data/battle_death/battle_death.sqlite",
    "behavior_monitoring": "data/behavior_monitoring/behavior_monitoring.sqlite",
    "bike_1": "data/bike_1/bike_1.sqlite",
    "body_builder": "data/body_builder/body_builder.sqlite",
    "book_2": "data/book_2/book_2.sqlite",
    "browser_web": "data/browser_web/browser_web.sqlite",
    "candidate_poll": "data/candidate_poll/candidate_poll.sqlite",
    "car_1": "data/car_1/car_1.sqlite",
    "chinook_1": "data/chinook_1/chinook_1.sqlite",
    "cinema": "data/cinema/cinema.sqlite",
    "city_record": "data/city_record/city_record.sqlite",
    "climbing": "data/climbing/climbing.sqlite",
    "club_1": "data/club_1/club_1.sqlite",
    "coffee_shop": "data/coffee_shop/coffee_shop.sqlite",
    "college_1": "data/college_1/college_1.sqlite",
    "college_2": "data/college_2/college_2.sqlite",
    "college_3": "data/college_3/college_3.sqlite",
    "company_1": "data/company_1/company_1.sqlite",
    "company_employee": "data/company_employee/company_employee.sqlite",
    "company_office": "data/company_office/company_office.sqlite",
    "concert_singer": "data/concert_singer/concert_singer.sqlite",
    "county_public_safety": "data/county_public_safety/county_public_safety.sqlite",
    "course_teach": "data/course_teach/course_teach.sqlite",
    "cre_Docs_and_Epenses": "data/cre_Docs_and_Epenses/cre_Docs_and_Epenses.sqlite",
    "cre_Doc_Control_Systems": "data/cre_Doc_Control_Systems/cre_Doc_Control_Systems.sqlite",
    "cre_Doc_Template_Mgt": "data/cre_Doc_Template_Mgt/cre_Doc_Template_Mgt.sqlite",
    "cre_Doc_Tracking_DB": "data/cre_Doc_Tracking_DB/cre_Doc_Tracking_DB.sqlite",
    "cre_Drama_Workshop_Groups": "data/cre_Drama_Workshop_Groups/cre_Drama_Workshop_Groups.sqlite",
    "cre_Theme_park": "data/cre_Theme_park/cre_Theme_park.sqlite",
    "csu_1": "data/csu_1/csu_1.sqlite",
    "culture_company": "data/culture_company/culture_company.sqlite",
    "customers_and_addresses": "data/customers_and_addresses/customers_and_addresses.sqlite",
    "customers_and_invoices": "data/customers_and_invoices/customers_and_invoices.sqlite",
    "customers_and_products_contacts": "data/customers_and_products_contacts/customers_and_products_contacts.sqlite",
    "customers_campaigns_ecommerce": "data/customers_campaigns_ecommerce/customers_campaigns_ecommerce.sqlite",
    "customers_card_transactions": "data/customers_card_transactions/customers_card_transactions.sqlite",
    "customer_complaints": "data/customer_complaints/customer_complaints.sqlite",
    "customer_deliveries": "data/customer_deliveries/customer_deliveries.sqlite",
    "debate": "data/debate/debate.sqlite",
    "decoration_competition": "data/decoration_competition/decoration_competition.sqlite",
    "department_management": "data/department_management/department_management.sqlite",
    "department_store": "data/department_store/department_store.sqlite",
    "device": "data/device/device.sqlite",
    "document_management": "data/document_management/document_management.sqlite",
    "dog_kennels": "data/dog_kennels/dog_kennels.sqlite",
    "dorm_1": "data/dorm_1/dorm_1.sqlite",
    "driving_school": "data/driving_school/driving_school.sqlite",
    "election": "data/election/election.sqlite",
    "election_representative": "data/election_representative/election_representative.sqlite",
    "employee_hire_evaluation": "data/employee_hire_evaluation/employee_hire_evaluation.sqlite",
    "entertainment_awards": "data/entertainment_awards/entertainment_awards.sqlite",
    "entrepreneur": "data/entrepreneur/entrepreneur.sqlite",
    "epinions_1": "data/epinions_1/epinions_1.sqlite",
    "e_government": "data/e_government/e_government.sqlite",
    "e_learning": "data/e_learning/e_learning.sqlite",
    "farm": "data/farm/farm.sqlite",
    "film_rank": "data/film_rank/film_rank.sqlite",
    "flight_1": "data/flight_1/flight_1.sqlite",
    "flight_2": "data/flight_2/flight_2.sqlite",
    "flight_4": "data/flight_4/flight_4.sqlite",
    "flight_company": "data/flight_company/flight_company.sqlite",
    "formula_1": "data/formula_1/formula_1.sqlite",
    "game_1": "data/game_1/game_1.sqlite",
    "game_injury": "data/game_injury/game_injury.sqlite",
    "gas_company": "data/gas_company/gas_company.sqlite",
    "geo": "data/geo/geo.sqlite",
    "gymnast": "data/gymnast/gymnast.sqlite",
    "hospital_1": "data/hospital_1/hospital_1.sqlite",
    "hr_1": "data/hr_1/hr_1.sqlite",
    "icfp_1": "data/icfp_1/icfp_1.sqlite",
    "imdb": "data/imdb/imdb.sqlite",
    "inn_1": "data/inn_1/inn_1.sqlite",
    "insurance_and_eClaims": "data/insurance_and_eClaims/insurance_and_eClaims.sqlite",
    "insurance_fnol": "data/insurance_fnol/insurance_fnol.sqlite",
    "insurance_policies": "data/insurance_policies/insurance_policies.sqlite",
    "journal_committee": "data/journal_committee/journal_committee.sqlite",
    "loan_1": "data/loan_1/loan_1.sqlite",
    "local_govt_and_lot": "data/local_govt_and_lot/local_govt_and_lot.sqlite",
    "local_govt_in_alabama": "data/local_govt_in_alabama/local_govt_in_alabama.sqlite",
    "local_govt_mdm": "data/local_govt_mdm/local_govt_mdm.sqlite",
    "machine_repair": "data/machine_repair/machine_repair.sqlite",
    "manufactory_1": "data/manufactory_1/manufactory_1.sqlite",
    "manufacturer": "data/manufacturer/manufacturer.sqlite",
    "match_season": "data/match_season/match_season.sqlite",
    "medicine_enzyme_interaction": "data/medicine_enzyme_interaction/medicine_enzyme_interaction.sqlite",
    "mountain_photos": "data/mountain_photos/mountain_photos.sqlite",
    "movie_1": "data/movie_1/movie_1.sqlite",
    "museum_visit": "data/museum_visit/museum_visit.sqlite",
    "musical": "data/musical/musical.sqlite",
    "music_1": "data/music_1/music_1.sqlite",
    "music_2": "data/music_2/music_2.sqlite",
    "music_4": "data/music_4/music_4.sqlite",
    "network_1": "data/network_1/network_1.sqlite",
    "network_2": "data/network_2/network_2.sqlite",
    "news_report": "data/news_report/news_report.sqlite",
    "orchestra": "data/orchestra/orchestra.sqlite",
    "party_host": "data/party_host/party_host.sqlite",
    "party_people": "data/party_people/party_people.sqlite",
    "performance_attendance": "data/performance_attendance/performance_attendance.sqlite",
    "perpetrator": "data/perpetrator/perpetrator.sqlite",
    "pets_1": "data/pets_1/pets_1.sqlite",
    "phone_1": "data/phone_1/phone_1.sqlite",
    "phone_market": "data/phone_market/phone_market.sqlite",
    "pilot_record": "data/pilot_record/pilot_record.sqlite",
    "poker_player": "data/poker_player/poker_player.sqlite",
    "products_for_hire": "data/products_for_hire/products_for_hire.sqlite",
    "products_gen_characteristics": "data/products_gen_characteristics/products_gen_characteristics.sqlite",
    "product_catalog": "data/product_catalog/product_catalog.sqlite",
    "program_share": "data/program_share/program_share.sqlite",
    "protein_institute": "data/protein_institute/protein_institute.sqlite",
    "race_track": "data/race_track/race_track.sqlite",
    "railway": "data/railway/railway.sqlite",
    "real_estate_properties": "data/real_estate_properties/real_estate_properties.sqlite",
    "restaurants": "data/restaurants/restaurants.sqlite",
    "restaurant_1": "data/restaurant_1/restaurant_1.sqlite",
    "riding_club": "data/riding_club/riding_club.sqlite",
    "roller_coaster": "data/roller_coaster/roller_coaster.sqlite",
    "sakila_1": "data/sakila_1/sakila_1.sqlite",
    "scholar": "data/scholar/scholar.sqlite",
    "school_bus": "data/school_bus/school_bus.sqlite",
    "school_finance": "data/school_finance/school_finance.sqlite",
    "school_player": "data/school_player/school_player.sqlite",
    "scientist_1": "data/scientist_1/scientist_1.sqlite",
    "ship_1": "data/ship_1/ship_1.sqlite",
    "ship_mission": "data/ship_mission/ship_mission.sqlite",
    "shop_membership": "data/shop_membership/shop_membership.sqlite",
    "singer": "data/singer/singer.sqlite",
    "small_bank_1": "data/small_bank_1/small_bank_1.sqlite",
    "soccer_1": "data/soccer_1/soccer_1.sqlite",
    "soccer_2": "data/soccer_2/soccer_2.sqlite",
    "solvency_ii": "data/solvency_ii/solvency_ii.sqlite",
    "sports_competition": "data/sports_competition/sports_competition.sqlite",
    "station_weather": "data/station_weather/station_weather.sqlite",
    "store_1": "data/store_1/store_1.sqlite",
    "store_product": "data/store_product/store_product.sqlite",
    "storm_record": "data/storm_record/storm_record.sqlite",
    "student_1": "data/student_1/student_1.sqlite",
    "student_assessment": "data/student_assessment/student_assessment.sqlite",
    "student_transcripts_tracking": "data/student_transcripts_tracking/student_transcripts_tracking.sqlite",
    "swimming": "data/swimming/swimming.sqlite",
    "theme_gallery": "data/theme_gallery/theme_gallery.sqlite",
    "tracking_grants_for_research": "data/tracking_grants_for_research/tracking_grants_for_research.sqlite",
    "tracking_orders": "data/tracking_orders/tracking_orders.sqlite",
    "tracking_share_transactions": "data/tracking_share_transactions/tracking_share_transactions.sqlite",
    "tracking_software_problems": "data/tracking_software_problems/tracking_software_problems.sqlite",
    "train_station": "data/train_station/train_station.sqlite",
    "tvshow": "data/tvshow/tvshow.sqlite",
    "twitter_1": "data/twitter_1/twitter_1.sqlite",
    "university_basketball": "data/university_basketball/university_basketball.sqlite",
    "voter_1": "data/voter_1/voter_1.sqlite",
    "voter_2": "data/voter_2/voter_2.sqlite",
    "wedding": "data/wedding/wedding.sqlite",
    "wine_1": "data/wine_1/wine_1.sqlite",
    "workshop_paper": "data/workshop_paper/workshop_paper.sqlite",
    "world_1": "data/world_1/world_1.sqlite",
    "wrestler": "data/wrestler/wrestler.sqlite",
    "wta_1": "data/wta_1/wta_1.sqlite",
    "yelp": "data/yelp/yelp.sqlite"
}

In [8]:
from Create_Schema import schema_extractor

# Extract schema information from the database
schema_cinema = schema_extractor(sql_file_paths, db_name="cinema", save_json=True)

# Save and print
with open("schema_cinema.json", "w") as f:
    f.write(schema_cinema)
    
print("Schema information:", schema_cinema)

Schema information: {
    "database_name": "cinema",
    "tables": {
        "film": {
            "columns": [
                "Film_ID",
                "Rank_in_series",
                "Number_in_season",
                "Title",
                "Directed_by",
                "Original_air_date",
                "Production_code"
            ],
            "primary_key": [
                "Film_ID"
            ],
            "foreign_keys": []
        },
        "cinema": {
            "columns": [
                "Cinema_ID",
                "Name",
                "Openning_year",
                "Capacity",
                "Location"
            ],
            "primary_key": [
                "Cinema_ID"
            ],
            "foreign_keys": []
        },
        "schedule": {
            "columns": [
                "Cinema_ID",
                "Film_ID",
                "Date",
                "Show_times_per_day",
                "Price"
            ],
            "primary_key": [
                "Cinema_ID",
                "Film_ID"
            ],
            "foreign_keys": [
                {
                    "from_column": "Cinema_ID",
                    "ref_table": "cinema",
                    "ref_column": "Cinema_ID"
                },
                {
                    "from_column": "Film_ID",
                    "ref_table": "film",
                    "ref_column": "Film_ID"
                }
            ]
        }
    }
}

In [9]:
from Create_Schema import create_combined_schema

# Create the combined schema
create_combined_schema(sql_file_paths, save_json=True)

100%|██████████| 166/166 [00:00<00:00, 481.71it/s]

Combined schema saved to combined_schema.json

In [10]:
# Extract schema by database name from local JSON files
from Create_Schema import schema_from_json_file 

schema_cinema = schema_from_json_file("combined_schema.json", db_name="cinema", save_json=False)
schema_cinema

{'database_name': 'cinema',
 'tables': {'film': {'columns': ['Film_ID',
    'Rank_in_series',
    'Number_in_season',
    'Title',
    'Directed_by',
    'Original_air_date',
    'Production_code'],
   'primary_key': ['Film_ID'],
   'foreign_keys': []},
  'cinema': {'columns': ['Cinema_ID',
    'Name',
    'Openning_year',
    'Capacity',
    'Location'],
   'primary_key': ['Cinema_ID'],
   'foreign_keys': []},
  'schedule': {'columns': ['Cinema_ID',
    'Film_ID',
    'Date',
    'Show_times_per_day',
    'Price'],
   'primary_key': ['Cinema_ID', 'Film_ID'],
   'foreign_keys': [{'from_column': 'Cinema_ID',
     'ref_table': 'cinema',
     'ref_column': 'Cinema_ID'},
    {'from_column': 'Film_ID',
     'ref_table': 'film',
     'ref_column': 'Film_ID'}]}}}

In [11]:
from SQL_Connector import SQLite_Connector
from Create_Schema import schema_extractor

# Create the connector (For mutiple queries on multiple tables)
connector = SQLite_Connector(sql_file_paths)

def connect_and_query(data_name: str, query: str):
    connector.connect(data_name)
    return connector.execute_queries([query])

# Connect to the database
data_name = "cinema"
query = "SELECT * FROM cinema;"
results = connect_and_query(data_name, query)
print("Query results:", results)

Connecting to SQLite database at: data\cinema\cinema.sqlite
Connection successful.
Query results: [
    [
        {
            "Cinema_ID": 1,
            "Name": "Codling",
            "Openning_year": 2010,
            "Capacity": 1100,
            "Location": "County Wicklow"
        },
        {
            "Cinema_ID": 2,
            "Name": "Carrowleagh",
            "Openning_year": 2012,
            "Capacity": 368,
            "Location": "County Cork"
        },
        {
            "Cinema_ID": 3,
            "Name": "Dublin Array",
            "Openning_year": 2015,
            "Capacity": 364,
            "Location": "County Dublin"
        },
        {
            "Cinema_ID": 4,
            "Name": "Glenmore",
            "Openning_year": 2009,
            "Capacity": 305,
            "Location": "County Clare"
        },
        {
            "Cinema_ID": 5,
            "Name": "Glenough",
            "Openning_year": 2010,
            "Capacity": 325,
            "Location": "County Tipperary"
        },
        {
            "Cinema_ID": 6,
            "Name": "Gortahile",
            "Openning_year": 2010,
            "Capacity": 208,
            "Location": "County Laois"
        },
        {
            "Cinema_ID": 7,
            "Name": "Grouse Lodge",
            "Openning_year": 2011,
            "Capacity": 203,
            "Location": "County Tipperary"
        },
        {
            "Cinema_ID": 8,
            "Name": "Moneypoint",
            "Openning_year": 2011,
            "Capacity": 225,
            "Location": "County Clare"
        },
        {
            "Cinema_ID": 9,
            "Name": "Mount Callan",
            "Openning_year": 2011,
            "Capacity": 908,
            "Location": "County Clare"
        },
        {
            "Cinema_ID": 10,
            "Name": "Oriel",
            "Openning_year": 2013,
            "Capacity": 330,
            "Location": "County Louth"
        }
    ]
]

In [12]:
# Test the AI result with query to SQL db
if 0: # 0 off 1 on
    data_name = input("Enter the database name: ")
    input_query = input("Enter your SQL query: ")
    results = connect_and_query(data_name, input_query)

In [13]:
# Multiple db_names to schema

relevant_dbs = [
    "cinema",
    "movie_1",
    "imdb",
    "film_rank"
]

for db in relevant_dbs:
    schema = schema_from_json_file("combined_schema.json", db_name=db, save_json=False)
    print(f"Schema for {db}:", schema)

Schema for cinema: {'database_name': 'cinema', 'tables': {'film': {'columns': ['Film_ID', 'Rank_in_series', 'Number_in_season', 'Title', 'Directed_by', 'Original_air_date', 'Production_code'], 'primary_key': ['Film_ID'], 'foreign_keys': []}, 'cinema': {'columns': ['Cinema_ID', 'Name', 'Openning_year', 'Capacity', 'Location'], 'primary_key': ['Cinema_ID'], 'foreign_keys': []}, 'schedule': {'columns': ['Cinema_ID', 'Film_ID', 'Date', 'Show_times_per_day', 'Price'], 'primary_key': ['Cinema_ID', 'Film_ID'], 'foreign_keys': [{'from_column': 'Cinema_ID', 'ref_table': 'cinema', 'ref_column': 'Cinema_ID'}, {'from_column': 'Film_ID', 'ref_table': 'film', 'ref_column': 'Film_ID'}]}}}
Schema for movie_1: {'database_name': 'movie_1', 'tables': {'Movie': {'columns': ['mID', 'title', 'year', 'director'], 'primary_key': ['mID'], 'foreign_keys': []}, 'Reviewer': {'columns': ['rID', 'name'], 'primary_key': ['rID'], 'foreign_keys': []}, 'Rating': {'columns': ['rID', 'mID', 'stars', 'ratingDate'], 'primary_key': [], 'foreign_keys': [{'from_column': 'rID', 'ref_table': 'Reviewer', 'ref_column': 'rID'}, {'from_column': 'mID', 'ref_table': 'Movie', 'ref_column': 'mID'}]}}}
Schema for imdb: {'database_name': 'imdb', 'tables': {'actor': {'columns': ['aid', 'gender', 'name', 'nationality', 'birth_city', 'birth_year'], 'primary_key': ['aid'], 'foreign_keys': []}, 'copyright': {'columns': ['id', 'msid', 'cid'], 'primary_key': ['id'], 'foreign_keys': []}, 'cast': {'columns': ['id', 'msid', 'aid', 'role'], 'primary_key': ['id'], 'foreign_keys': [{'from_column': 'msid', 'ref_table': 'copyright', 'ref_column': 'msid'}, {'from_column': 'aid', 'ref_table': 'actor', 'ref_column': 'aid'}]}, 'genre': {'columns': ['gid', 'genre'], 'primary_key': ['gid'], 'foreign_keys': []}, 'classification': {'columns': ['id', 'msid', 'gid'], 'primary_key': ['id'], 'foreign_keys': [{'from_column': 'msid', 'ref_table': 'copyright', 'ref_column': 'msid'}, {'from_column': 'gid', 'ref_table': 'genre', 'ref_column': 'gid'}]}, 'company': {'columns': ['id', 'name', 'country_code'], 'primary_key': ['id'], 'foreign_keys': []}, 'director': {'columns': ['did', 'gender', 'name', 'nationality', 'birth_city', 'birth_year'], 'primary_key': ['did'], 'foreign_keys': []}, 'producer': {'columns': ['pid', 'gender', 'name', 'nationality', 'birth_city', 'birth_year'], 'primary_key': ['pid'], 'foreign_keys': []}, 'directed_by': {'columns': ['id', 'msid', 'did'], 'primary_key': ['id'], 'foreign_keys': [{'from_column': 'did', 'ref_table': 'director', 'ref_column': 'did'}, {'from_column': 'msid', 'ref_table': 'copyright', 'ref_column': 'msid'}]}, 'keyword': {'columns': ['id', 'keyword'], 'primary_key': ['id'], 'foreign_keys': []}, 'made_by': {'columns': ['id', 'msid', 'pid'], 'primary_key': ['id'], 'foreign_keys': [{'from_column': 'pid', 'ref_table': 'producer', 'ref_column': 'pid'}, {'from_column': 'msid', 'ref_table': 'copyright', 'ref_column': 'msid'}]}, 'movie': {'columns': ['mid', 'title', 'release_year', 'title_aka', 'budget'], 'primary_key': ['mid'], 'foreign_keys': []}, 'tags': {'columns': ['id', 'msid', 'kid'], 'primary_key': ['id'], 'foreign_keys': [{'from_column': 'kid', 'ref_table': 'keyword', 'ref_column': 'kid'}, {'from_column': 'msid', 'ref_table': 'copyright', 'ref_column': 'msid'}]}, 'tv_series': {'columns': ['sid', 'title', 'release_year', 'num_of_seasons', 'num_of_episodes', 'title_aka', 'budget'], 'primary_key': ['sid'], 'foreign_keys': []}, 'writer': {'columns': ['wid', 'gender', 'name', 'nationality', 'num_of_episodes', 'birth_city', 'birth_year'], 'primary_key': ['wid'], 'foreign_keys': []}, 'written_by': {'columns': ['id', 'msid', 'wid'], 'primary_key': [], 'foreign_keys': [{'from_column': 'wid', 'ref_table': 'writer', 'ref_column': 'wid'}, {'from_column': 'msid', 'ref_table': 'copyright', 'ref_column': 'msid'}]}}}
Schema for film_rank: {'database_name': 'film_rank', 'tables': {'film': {'columns': ['Film_ID', 'Title', 'Studio', 'Director', 'Gross_in_dollar'], 'primary_key': ['Film_ID'], 'foreign_keys': []}, 'market': {'columns': ['Market_ID', 'Country', 'Number_cities'], 'primary_key': ['Market_ID'], 'foreign_keys': []}, 'film_market_estimation': {'columns': ['Estimation_ID', 'Low_Estimate', 'High_Estimate', 'Film_ID', 'Type', 'Market_ID', 'Year'], 'primary_key': ['Estimation_ID'], 'foreign_keys': [{'from_column': 'Market_ID', 'ref_table': 'market', 'ref_column': 'Market_ID'}, {'from_column': 'Film_ID', 'ref_table': 'film', 'ref_column': 'Film_ID'}]}}}

In [18]:
# Test Query 1 and 2
db_1 = "film_rank"
query_1 = '''
SELECT 
    f.Title,
    f.Gross_in_dollar AS Total_Earnings
FROM film AS f;
'''

# Execute queries
connector.connect(db_1)
result_1 = connector.execute_queries([query_1])
print(result_1)

Connecting to SQLite database at: data\film_rank\film_rank.sqlite
Connection successful.
[
    [
        {
            "Title": "ET the Extra-Terrestrial",
            "Total_Earnings": 435110554
        },
        {
            "Title": "Tootsie",
            "Total_Earnings": 177200000
        },
        {
            "Title": "An Officer and a Gentleman",
            "Total_Earnings": 129795554
        },
        {
            "Title": "Rocky III",
            "Total_Earnings": 125049125
        },
        {
            "Title": "Porky's",
            "Total_Earnings": 109492484
        },
        {
            "Title": "Star Trek II: The Wrath of Khan",
            "Total_Earnings": 79912963
        },
        {
            "Title": "48 Hrs",
            "Total_Earnings": 78868508
        },
        {
            "Title": "Poltergeist",
            "Total_Earnings": 76606280
        },
        {
            "Title": "The Best Little Whorehouse in Texas",
            "Total_Earnings": 69701637
        },
        {
            "Title": "Annie",
            "Total_Earnings": 57059003
        },
        {
            "Title": "The Verdict",
            "Total_Earnings": 53977250
        },
        {
            "Title": "Gandhi",
            "Total_Earnings": 52767889
        },
        {
            "Title": "First Blood",
            "Total_Earnings": 47212904
        }
    ]
]

In [19]:
db_2 = "cinema"
query_2 = '''
SELECT 
    fi.Title,
    SUM(s.Show_times_per_day * s.Price) AS Total_Earnings
FROM schedule AS s
JOIN film AS fi ON s.Film_ID = fi.Film_ID
GROUP BY fi.Title;
'''
connector.connect(db_2)
result_2 = connector.execute_queries([query_2])
print(result_2)

Connecting to SQLite database at: data\cinema\cinema.sqlite
Connection successful.
[
    [
        {
            "Title": "The Case of the Bermuda Triangle",
            "Total_Earnings": 49.95
        },
        {
            "Title": "The Case of the Mystery Weekend",
            "Total_Earnings": 194.85000000000002
        },
        {
            "Title": "The Case of the Piggy Banker",
            "Total_Earnings": 51.96
        },
        {
            "Title": "The Case of the Smart Dummy",
            "Total_Earnings": 38.97
        },
        {
            "Title": "The Case: Off the Record",
            "Total_Earnings": 17.98
        }
    ]
]